<style type="text/css">
#icons_container {
  padding-top: 20px;
  padding-bottom: 20px;
}
#icons_container img {
  border: 0px;
  margin-right: 10px;
}
</style>

<div id="icons_container">
  <a href="https://github.com/Chris911"><img src="{{ root_url }}/images/glyphicons/glyphicons_401_github.png" alt="GitHub"></a>
  <a href="http://www.linkedin.com/in/christophenauddulude"><img src="{{ root_url }}/images/glyphicons/glyphicons_397_linked_in.png" alt="LinkedIn"></a>
  <a href="https://twitter.com/ChristopheND"><img src="{{ root_url }}/images/glyphicons/glyphicons_411_twitter.png" alt="Twitter"></a>
  <a href="mailto:christophe.naud.dulude@gmail.com"><img src="{{ root_url }}/images/glyphicons/glyphicons_419_e-mail.png" alt="Email"></a>
</div>
